[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mypy = "*"
ptvsd = "==3.0.0"
pybuilder = "*"
pybuilder-pytest = "*"
pybuilder-pytest-coverage = "*"
pytest = "*"

[packages]

[requires]
python_version = "*"
